<!-- FRAGMENT FORM CONTRACTS -->
<div th:fragment="form" class="container mt-4">
    <h2>Nuovo Dipendente</h2>

    <form th:action="@{/contracts/store}" method="post">
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" name="name">
        </div>

        <div class="mb-3">
            <label class="form-label">Ruolo</label>
            <input type="text" class="form-control" name="role">
        </div>

        <div class="mb-3">
            <label class="form-label">Tipo Contratto</label>
            <input type="text" class="form-control" name="contractType">
        </div>

        <div class="mb-3">
            <label class="form-label">Scadenza</label>
            <input type="date" class="form-control" name="contractEnd">
        </div>

        <button class="btn btn-success">Salva</button>
        <button type="button" class="btn btn-secondary ms-2"
                onclick="loadFragment('/contracts')">Annulla</button>
    </form>
</div>

