<!-- FRAGMENT SHOW SUPPLIER -->
<div th:fragment="show" class="container mt-4">
    <h1>Supplier Details</h1>

    <dl class="row">
        <dt class="col-sm-3">Name:</dt>
        <dd class="col-sm-9" th:text="${supplier.name}"></dd>

        <dt class="col-sm-3">Email:</dt>
        <dd class="col-sm-9" th:text="${supplier.email}"></dd>

        <dt class="col-sm-3">CC Emails:</dt>
        <dd class="col-sm-9" th:text="${supplier.ccEmails}"></dd>

        <dt class="col-sm-3">Delivery Days:</dt>
        <dd class="col-sm-9" th:text="${supplier.deliveryDays}"></dd>

        <dt class="col-sm-3">Order Form Template:</dt>
        <dd class="col-sm-9" th:text="${supplier.orderFormFilename}"></dd>
    </dl>
</div>