<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
</head>
<body class="bg-light">

  <nav class="navbar navbar-light bg-white shadow-sm">
    <div class="container">
      <span class="navbar-brand mb-0 h1">Pannello di Controllo</span>
      <a href="/logout" class="btn btn-outline-secondary">Logout</a>
    </div>
  </nav>

  <div class="container mt-5">
    <h2 class="mb-4">Benvenuto nella Dashboard</h2>

    <div class="row g-4">

      <div class="col-md-4">
        <a th:href="@{/suppliers}" class="text-decoration-none text-dark">
          <div class="card h-100 shadow-sm border-0">
            <div class="card-body">
              <h5 class="card-title">Fornitori</h5>
              <p class="card-text">Gestisci l'elenco dei fornitori, modifica o rimuovi dati esistenti.</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a th:href="@{/report}" class="text-decoration-none text-dark">
          <div class="card h-100 shadow-sm border-0">
            <div class="card-body">
              <h5 class="card-title">Report</h5>
              <p class="card-text">Accedi ai report mensili o annuali relativi agli ordini effettuati.</p>
            </div>
          </div>
        </a>
      </div>
      <!-- CONTRATTI  -->
      <div class="col-md-4">
        <a th:href="@{/deals}" class="text-decoration-none text-dark">
          <div class="card h-100 shadow-sm border-0">
            <div class="card-body">
              <h5 class="card-title">Contratti attivi</h5>
              <p class="card-text">Accedi ai moduli di contratto attivi dello staff.</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a th:href="@{/budget}" class="text-decoration-none text-dark">
          <div class="card h-100 shadow-sm border-0">
            <div class="card-body">
              <h5 class="card-title">Target Budget</h5>
              <p class="card-text">Controlla l'andamento della settimana.</p>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>

  <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
