<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body class="bg-light">

<div class="container-fluid">
  <div class="row">
<!-- COLONNA SINISTRA: NAV -->
  <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" th:href="@{dashboard(section='profile')}">Profilo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/dashboard(section='contracts')}">Contratti attivi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/dashboard(section='suppliers')}">Fornitori</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/dashboard(section='reports')}">Report</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- COLONNA DESTRA: TASK -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div th:replace="${contentFragment}"></div>
    </main>
      
  </div>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
